<config>
    <sections>
        <shopalytic_extractor>
            <label>Shopalytic</label>
            <tab>general</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>700</sort_order>
            <groups>
                <configure translate="label">
                    <label>Configure</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<span style="font-size: 16px; color: red">You must have an account on <a href="https://www.shopalytic.com">Shopalytic.com</a> to use the Shopalytic plugin.]]></comment>
                    <fields>
						<enabled translate="label">
                            <label>Enabled</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
						<token translate="label">
                            <label>API Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>101:</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment> <![CDATA[Shopalytic automatically configures the API token when you add Magento as a data source to a site. Visit <a href="https://www.shopalytic.com">Shopalytic.com</a> to create a new account and connect Magento to Shopalytic.]]> </comment>
                        </token>
						<debug translate="label">
                            <label>Debug Mode</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>102</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>
                </configure>
            </groups>
        </shopalytic_extractor>
    </sections>
</config>
